.background {
  /* background-image: url("/bg.png"); */
  background-image: url("/bginverso.png");
  background-repeat: no-repeat;
  background-size: cover;
  @apply flex flex-col gap-10 items-center justify-center h-screen w-full mx-auto;
}

.inputCpf {
  background-color: #003641;
  @apply h-[5vh] w-[6.8vw] text-white rounded-xl text-center flex items-center justify-center text-[3vw] shadow-xl;
}

.icons {
  color: #003641;
  @apply w-6 h-6;
}

.h1 {
  @apply text-[14vw] font-bold p-0 m-0 leading-none text-white;
}

.h2 {
  color: #003641;
  @apply text-[5vw] font-bold p-0 m-0 leading-none;
}

.pnumbers {
  @apply text-[6vh] font-bold px-[0.5vw] m-0 leading-none text-white;
}

.p {
  @apply text-[6vw] font-bold m-0 leading-none opacity-50 text-white;
}

.titlediv {
  @apply flex flex-col gap-2 items-center justify-center rounded-[2vw] text-center;
}

.divinput {
  @apply flex flex-row gap-2 items-center justify-center w-[80%] h-[15vh] border-[0.5vw] rounded-[2vw] border-white bg-white/10 backdrop-blur-md;
}

.span {
  @apply text-[6vw] font-bold p-0 m-0 leading-none opacity-95 text-white/80;
}

.buttonCpf {
  @apply h-20 w-20 border-2 border-black/40 rounded-md text-center flex items-center justify-center text-4xl bg-black/70 hover:bg-black/40;
}

.keyboardDiv {
  @apply w-[50%] h-full  flex flex-col items-center justify-center gap-20;
}

.table {
  @apply w-[50%] h-[70%]  flex flex-col items-center justify-center;
}

.verifyButton {
  color: #483c89;
  @apply w-[50%] h-[20vh] rounded-[2vw] text-[2.5vh] font-bold bg-white flex flex-row gap-2 items-center justify-center text-center shadow-xl;
}

.verifyButton:active {
  background-color: #eae7ff;
  @apply shadow-md;
}

.verifyButton:disabled {
  background-color: #070518;
  @apply shadow-md;
  color: #244449;
}

.validateButton {
  color: #483c89;
  @apply w-[60%] h-[7vh] rounded-[2vw] text-[2.5vh] font-bold bg-white flex flex-row gap-2 items-center justify-center text-center shadow-xl;
}

.validateButton:active {
  background-color: #eae7ff;
}

.deleteButton {
  color: #483c89;
  @apply w-full h-full rounded-full text-[2.5vh] font-bold bg-white flex flex-row gap-2 items-center justify-center text-center shadow-xl;
}

.deleteButton:active {
  background-color: #eae7ff;
}

.deleteButton:disabled {
  background-color: #070518;
  color: #244449;
  width: 100%;
  height: 100%;
}

.numericButton {
  color: #483c89;
  @apply w-full h-full rounded-full text-[4vh] font-bold flex flex-row gap-2 items-center justify-center text-center bg-white shadow-xl;
}

.numericButton:active {
  background-color: #eae7ff;
}

.numericButton:disabled {
  background-color: #070518;
  color: #244449;
  width: 100%;
  height: 100%;
}

.foundh1 {
  @apply font-bold text-[6.4vw] m-0 leading-none text-nowrap text-white/90;
}

.alreadyRegisteredh1 {
  @apply font-bold text-[4vw] m-0 text-white;
}

.foundh2 {
  @apply font-bold text-[4.5vw] m-0 leading-none text-white;
}

.foundspan {
  @apply font-bold text-[5vw] m-0 leading-none max-w-[90vw] text-center text-white/80;
}

.alreadyRegisteredspan {
  @apply font-bold text-[4vw] m-0 px-[1vw] leading-none text-center opacity-90 text-white;
}

.returnButton {
  color: #483c89;
  @apply bg-white fixed top-[1vh] left-[2vw] px-[4vw] py-[1vh] text-[3vw] font-bold rounded-[2vw] shadow-md;
}

.returnButton:active {
  background-color: #eae7ff;
}

.td {
  @apply w-[8vw] h-[7vh] p-[2px];
}
