.background {
  background-image: url("/Background.png");
  background-size: cover;
  @apply flex flex-col gap-10 items-center justify-center h-screen w-full mx-auto;
}

.inputCpf {
  background-color: #003641;
  @apply h-[5vh] w-[6.8vw] text-white rounded-xl text-center flex items-center justify-center text-[3vw] shadow-xl;
}

.icons {
  color: #003641;
  @apply w-6 h-6;
}

.h1 {
  color: #003641;
  @apply text-[13vw] font-bold p-0 m-0 leading-none;
}

.h2 {
  color: #003641;
  @apply text-[4vw] font-bold p-0 m-0 leading-none;
}

.span {
  color: #003641;
  @apply text-[6vw] font-bold p-0 m-0 leading-none opacity-80;
}

.buttonCpf {
  @apply h-20 w-20 border-2 border-black/40 rounded-md text-center flex items-center justify-center text-4xl bg-black/70 hover:bg-black/40;
}

.deleteButton {
  @apply h-20 w-44 border-2 border-white rounded-md text-center flex items-center justify-center text-2xl bg-transparent font-bold hover:text-gray-400;
}

.keyboardDiv {
  border-color: white;
  @apply w-[50%] h-[70%] rounded-2xl bg-white flex flex-col items-center justify-center border-double border-8;
}

.divTable {
  border-color: #003641;
  @apply w-full h-full flex items-center justify-center rounded-xl border-8 bg-white;
}

.numericButton {
  background-color: #003641;
  @apply w-full h-full rounded-xl text-[3.2vw] font-bold text-white flex flex-row gap-2 items-center justify-center text-center;
}

.numericButton:active {
  background-color: #002025;
  width: 98%;
  height: 98%;
}

.numericButton:disabled {
  background-color: #001a1f;
  color: #2a4044;
  width: 100%;
  height: 100%;
}

.foundh1 {
  color: #003641;
  @apply font-bold text-[6.4vw] m-0 leading-none text-nowrap;
}

.alreadyRegisteredh1 {
  color: #003641;
  @apply font-bold text-[4.5vw] m-0 leading-none text-nowrap;
}

.foundh2 {
  color: #003641;
  @apply font-bold text-[5vw] m-0 leading-none;
}

.foundspan {
  color: #003641;
  @apply font-bold text-[5vw] m-0 leading-none max-w-[90vw] text-center opacity-50;
}

.alreadyRegisteredspan {
  color: #003641;
  @apply font-bold text-[4vw] m-0 leading-none text-center opacity-50;
}

.returnButton {
  background-color: #003641;
  @apply text-white fixed top-2 left-2 px-[4vw] py-[1vh] text-[3vw] font-bold rounded-xl shadow-md;
}

.returnButton:active {
  background-color: #002025;
}

.verifyButton {
  background-color: #003641;
  @apply text-white px-[3vw] py-[1vh] text-[4vw] font-bold rounded-xl shadow-md;
}

.verifyButton:active {
  background-color: #002025;
}
